body {
    background-color: rgb(0, 0, 0);
    color: rgb(200, 200, 200); /* Light grey text for better readability */
}
.nav-menu {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.nav-menu a {
    text-decoration: none;
    padding: 10px;
    background-color: #242424; /* Darker background for links */
    border: 1px solid #343434; /* Slightly lighter border for contrast */
    color: rgb(255, 255, 255); /* White text */
}
.nav-menu a:hover {
    background-color: #575757; /* Medium grey for hover */
    color: #ffffff; /* Ensure text is still white on hover */
}
/* Table styles */
table {
    border-collapse: collapse;
}
th {
    background-color: #333333; /* Dark background for headers */
    color: #ffffff; /* White text for headers */
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures the header is above other content when scrolling */
}
tr:nth-child(odd) {
    background-color: #2b2b2b; /* Dark grey for odd rows */
}
tr:nth-child(even) {
    background-color: #1f1f1f; /* Even darker grey for even rows */
}
/* Input styles */
input, button {
    background-color: #444444; /* Dark background for inputs and buttons */
    border-radius: 5px; /* Slightly rounded corners for aesthetics */
    color: #ffffff; /* White text */
}
input[type="text"], input[type="number"] {
    background-color: #333; /* Slightly different background for text inputs */
}
input.zero-value {
    background-color: #0b0b0b; /* Dark grey to maintain the theme */
    color: #cccccc; /* Lighter text color for visibility */
}
input:focus, input:hover, button:focus, button:hover {
    background-color: #777777; /* Medium grey for focus/hover */
    outline: none; /* Remove the default focus outline */
    color: #ffffff; /* Ensure text is still white on focus/hover */
}
button {
    cursor: pointer;
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Ensure placeholders are fully visible */
}
