<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product Inventory">
    <title> All Seeds Inventory</title>
    <style>
        input[type='number'] {
            width: 60px;
            text-align: right;
        }
        /* Navigation menu styles */
    </style>
    <script src="{{ url_for('static', filename='stock_app.js') }}" defer></script>
</head>
<body>
    <form method="post" id="refreshForm" action="{{ url_for('refresh_page') }}" style="display: none;">
        <input type="hidden" name="refresh" value="true">
    </form>
    <!-- Navigation Menu -->
    <div class="nav-menu">
        <a href="{{ url_for('fastbuds') }}">Fastbuds</a>
        <a href="{{ url_for('green_house') }}">Green House Seeds</a>
        <a href="{{ url_for('barney') }}">Barneys Farm</a>
        <a href="{{ url_for('dutch_passion') }}">Dutch Passion</a>
        <a href="{{ url_for('rqs') }}">Royal Queen Seeds</a>
        <a href="{{ url_for('all_seeds') }}">All Seeds Inventory</a>
        <a href="{{ url_for('inventory') }}">Grow Kit Stock List</a>
        <button id="toggle-theme">Toggle Theme</button>
    </div>
    <h2> All Seeds Inventory </h2>
    <div class="search-container">
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search...">
        <button class="clear-btn" onclick="clearSearch()">Clear Search</button>
        <button class="clear-btn" onclick="updateAllStock()">Update All Stock</button>
        <button class="clear-btn" onclick="toggleEmptyRows()">Toggle No Stock Products</button>
        <!-- <button class="clear-btn" onclick="replaceButtons('cannabis_seeds')">Edit</button> -->
    </div>
    <div class="table-container">
        <table id="all_seeds_inventory">
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Cannabis Seeds Inventory</title>
                <style>
                    input[type='number']{
                        width: 60px;
                        text-align: right; 
                    }
                    /* Navigation menu styles */
                </style>
            </head>
            <body>
                {% for seed_type, seeds_by_name_manufacturer in seeds_by_type.items() %}
                    <h2>{{ seed_type }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Manufacturer</th>
                                {% for pack_size in pack_sizes[seed_type]|sort %}
                                    <th>{{ pack_size }}-Packs</th>
                                    <th>Price</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for (name, manufacturer), seeds in seeds_by_name_manufacturer.items() %}
                                <tr>
                                    <td>{{ seeds[0]['storage_location_number'] }}</td>
                                    <td>{{ name }}</td>
                                    <td>{{ manufacturer }}</td>
                                    {% for pack_size in pack_sizes[seed_type]|sort %}
                                        {% set seed_found = seeds | selectattr('pack_size', 'equalto', pack_size) | list %}
                                        {% if seed_found %}
                                            <td>
                                                <form class='stock_input' action="{{ url_for('update_stock', table='cannabis_seeds', id=seed_found[0]['id']) }}" method="post">
                                                    <input type="hidden" name="last_refresh_stock" value="{{ seed_found[0]['stock'] }}">
                                                    <input type="hidden" name="manufacturer" value="{{ seed_found[0]['manufacturer'] }}">
                                                    <input type="number" name="submitted_stock" value="{{ seed_found[0]['stock'] }}" min="0">
                                                    <input type="submit" value="Update" tabindex="-1">
                                                </form>
                                            </td>
                                            <td>€{{ seed_found[0]['retail_price'] }}</td>
                                        {% else %}
                                            <td></td>
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </body>
            </html>
    </div>
</body>
</html>