<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grow Kit Inventory</title>
    <style>
        /* Alternating row background colors */
        tr:nth-child(odd) {
            background-color: #f0f0f0; /* Light grey for odd rows */
        }
        tr:nth-child(even) {
            background-color: #ffffff; /* White for even rows */
        }
        input.zero-value {
            background-color: #e0e0e0; /* Grey out inputs with value 0 */
        }
        input { 
            text-align: right; 
        }
    </style>
    <script src="static/stock_app.js"></script>
</head>
<body>
    <h2>Grow Kits</h2>
    <table>
        <tr>
            <th class="name-column">Name</th>
            <th colspan="1">600cc</th>
            <th colspan="1">1200cc</th>
        </tr>
        {% for name, products in products_grouped.items() %}
        <tr>
            <td>{{ name }}</td>
            {% for product in products %}
            <td>
                <form action="{{ url_for('update_stock', table='growkits', id=product.id) }}" method="post">
                    <input type="hidden" name="last_refresh_stock" value="{{ product.stock }}">
                    <input type="number" name="submitted_stock" value="{{ product.stock }}" min="0" tabindex="{{ loop.index }}" title="">
                    <input type="submit" value="Update" tabindex=-1>
                </form>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h2>Spores</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Prints</th>
            <th>Syringes</th>
            <th>Vials</th>
        </tr>
        {% for name, spores in spores_grouped.items() %}
        <tr>
            <td>{{ name }}</td>
            {% for spore in spores %}
            <td>
                <form action="{{ url_for('update_stock', table='spores', id=spore.id) }}" method="post">
                    <input type="hidden" name="last_refresh_stock" value="{{ spore.stock }}">
                    <input type="number" name="submitted_stock" value="{{ spore.stock }}" min="0" tabindex="{{ loop.index }}" title="">
                    <input type="submit" value="Update" tabindex=-1>
                </form>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="btn-group">
        <button onclick="updateAllStock()">Update All Stock</button>
        <button onclick="toggleEmptyRows()">Toggle No Stock Products</button>
        <!-- <button onclick="toggleEmptyColumns()">Toggle Empty Columns</button> -->
    </div>
</body>
</html>